<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">



    <!-- Bootstrap Core CSS -->
    <link href="/static/livetracking/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/livetracking/css/one-page-wonder.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>



    <!-- Full Width Image Header -->

        <div class="headline">
            <div class="container">
                <h1>One Click Tracking</h1>
                <h2>Your food status is {{order_status}} !</h2>
            </div>
        </div>

    <!-- Page Content -->
    <div class="container">

        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette" id="about">

            <h2 class="featurette-heading">{{username}}
                <br>
                <span class="text-muted">{{order_id}}</span>
            </h2>
            <p class="lead">{{order_status}}</p><p>{{placed_on}}</p>
        </div>


        <!-- Footer -->


    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="static/livetracking/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/livetracking/js/bootstrap.min.js"></script>

</body>
<script>
    var image = {{img}}
$(document).ready(function()
{
$("#status').attr('src',image);

});




</script>

</html>
